<div class="logo sidebar-icons">
    <h4><a href="index.html">TrafficData <strong>Analytics</strong></a></h4>
</div>
<nav id="sidebar" class="sidebar nav-collapse collapse sidebar-icons">
    <ul id="side-nav" class="side-nav sidebar-icons">
        <li class="active">
            <a href="/"><i class="fa fa-home"></i> <span class="name">Dashboard</span></a>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#forms-collapse"><i class="fa fa-edit"></i> <span class="name">Mode</span></a>
            <ul id="forms-collapse" class="panel-collapse collapse" style="height: 0px;">
                <li><a href="/hpms">HPMS</a></li>
                <li><a href="/enforcement">Enforcement</a></li>
               <!--  <li><a href="form_elements.html">Elements</a></li>
                <li><a href="form_validation.html">Validation</a></li>
                <li><a href="form_wizard.html">Wizard</a></li> -->
            </ul>
        </li>
        
        <li class="visible-xs">
            <a href="login.html"><i class="fa fa-sign-out"></i> <span class="name">Sign Out</span></a>
        </li>
    </ul>
    <div id="sidebar-settings" class="settings">
    
    </div>
</nav>