<!DOCTYPE html>
<html>
  <head>
    <title>Traffic Data Analyitics | AVAIL</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="New Jersy Transit Demand Modeling">
    <meta name="author" content="Alex Muro - Albany Visualization and Informatics Lab  - http://avail.org">
    <meta charset="utf-8">
    
    <!--STYLES-->
    <link rel="stylesheet" href="/css/application.css">
    <link rel="stylesheet" href="/css/trafficanalytics.css">
    <link rel="stylesheet" href="/css/AVAILmap.css">
    <!--STYLES END-->
  </head>

  <body class="background-dark" ng-app="">
      <!-- SCRIPTS -->
      <!-- SCRIPTS END -->
      <script src="/lib/jquery/jquery-2.0.3.min.js"></script>
      <script src="/lib/widgtster.js"></script>
      <script type="text/javascript" src="/lib/bootstrap/bootstrap.min.js"></script>
      <script src="/lib/angular/angular.min.js"></script>
      <script type="text/javascript" src="/controllers/headerController.js"></script>
      <%- body %> 
      

      <script>
        database= '<%= session.database %>';
      </script>
      <script src='/trafficanalytics/wimXHR.js'></script>

  </body>
</html>
