<!DOCTYPE html>
<html>
  <head>
    <title>Traffic Data Analyitics | AVAIL</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="New Jersy Transit Demand Modeling">
    <meta name="author" content="Alex Muro - Albany Visualization and Informatics Lab  - http://avail.org">
    <meta charset="utf-8">
    <style type="text/css"></style><style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style>
    
    <!--STYLES-->
    <link rel="stylesheet" href="/css/application.css">
    <link rel="stylesheet" href="/css/trafficanalytics.css">
    <link rel="stylesheet" href="/css/AVAILmap.css">
    <!--STYLES END-->
  </head>

  <body class="background-dark" ng-app="">
      <!-- SCRIPTS -->
      <script src="/lib/angular/angular.min.js"> </script>
      <script src="/lib/jquery/jquery-2.0.3.min.js"> </script>
      <script src="/lib/jquery-pjax/jquery.pjax.js"></script>

      <!-- jquery plugins -->
      <script src="/lib/icheck.js/jquery.icheck.js"></script>
      <script src="/lib/sparkline/jquery.sparkline.js"></script>
      <script src="/lib/jquery-ui-1.10.3.custom.js"></script>
      <script src="/lib/jquery.slimscroll.js"></script>

      <!-- d3, nvd3-->
      <script src="/lib/nvd3/lib/d3.v3.min.js"></script>
      <script src="/lib/nvd3/lib/topojson.js"></script>
     
      <!--backbone and friends -->
      <script src="/lib/backbone/underscore-min.js"></script>
      <script src="/lib/backbone/backbone-min.js"></script>
      <script src="/lib/backbone/backbone.localStorage-min.js"></script>

      <!-- bootstrap default plugins -->
      <script src="/lib/bootstrap/transition.js"></script>
      <script src="/lib/bootstrap/collapse.js"></script>
      <script src="/lib/bootstrap/alert.js"></script>
      <script src="/lib/bootstrap/tooltip.js"></script>
      <script src="/lib/bootstrap/popover.js"></script>
      <script src="/lib/bootstrap/button.js"></script>
      <script src="/lib/bootstrap/tab.js"> </script>
      <script src="/lib/bootstrap/dropdown.js"></script>


      <!-- basic application js-->
      <script>
        database= '<%= session.database %>';
      </script>
      <script src="/trafficanalytics/wimXHR.js"></script>
      <script src="/js/app.js"></script>
      <script src="/js/settings.js"></script>
      <script src="/js/header.js"></script>

     
      <!-- SCRIPTS END -->
      <%- body %> 
      
      
  </body>
</html>
