<%- partial('../partials/nav') %>
<div class="wrap sidebar-icons">
    <%- partial('../partials/header') %>
    <div class="content container">  
        <div class="row" ng-controller="uploadJobShowController">
            <div class="col-md-6">
                <section class="widget">
                    <header>
                        <table class="table table-hover">
                          <tr><th><b>Running jobs</b></th></tr>
                          <tr ng-repeat="job in jobs"><td ng-if="!(job.isFinished)">File: {{job.filename}}, Status: {{job.status}}, Last Update: {{job.updatedAt}}, Data Source: {{job.source}} </td></tr>
                        </table>
                    
                    </header>
                    <div class="body">

                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="widget">
                    <header>
                        <table class="table table-hover">
                          <tr><th><b>Finished jobs</b></th></tr>
                          <tr ng-repeat="job in jobs"><td ng-if="job.isFinished">File: {{job.filename}}, Status: {{job.status}}, Last Update: {{job.updatedAt}}, Data Source: {{job.source}} </td></tr>
                        </table>
                    </header>
                    <div class="body">

                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<script>
jobs = <%- JSON.stringify(jobs) %>
</script>
<script src="/controllers/uploadjob/showController.js"></script>
