<%- partial('../partials/nav') %>
<div class="wrap sidebar-icons">
    <%- partial('../partials/header') %>
	<div class="content container">  
	  <div class="row" ng-controller="EnforcementController">
		  <div id="nav-wrapper" class="col-md-8">
		  	<div id="my-affix">
			    <section id="sectionMAP" class="widget">
			    	<header>
			    		<fieldset>
		            	<legend>Station Map<small> Click a state to see their ATR sites</small></legend>
		        		</fieldset>
			    		<div class="widget-controls">
	                        <a data-widgster="expand" title="" href="#" style="display: none;" data-original-title="Expand"><i class="glyphicon glyphicon-plus"></i></a>
	                        <a data-widgster="collapse" title="" href="#" data-original-title="Collapse" style="display: inline;"><i class="glyphicon glyphicon-minus"></i></a>
	                        <a data-widgster="fullscreen" title="" href="#" data-original-title="Full Screen" style="display: inline;"><i class="glyphicon glyphicon-resize-full"></i></a>
	                        <a data-widgster="restore" title="" href="#" style="display: none;" data-original-title="Restore"><i class="glyphicon glyphicon-resize-small"></i></a>
	                            
	                    </div>
			    	</header>
				    	<div class="body">
				      	<div id="statesDIV"></div>
				    </div>
			    </section>
		  </div>
		</div>
		  <div class="col-md-4">
		  	<section class="widget ui-sortable" ng-show="(stations.length > 0)">
		  		<header>
			        <fieldset>
	            	<legend>Most Recent Data
	            	</legend>
	        		</fieldset>
        		</header>
        	    <div class="body2" ng-show="!(getRecent)">
		      		<p>Loading Most Recent Dates Of Data...</p>
		      		<img src="/img/loading.gif">
		        </div>
		        <div class="body" ng-show="(getRecent)">
		      		<p>Weight: {{recentWeight}}</p>
		      		<p>Class: {{recentWeight}}</p>
		        </div>

		 	</section>
		  	<section class="widget ui-sortable" ng-show="!(stations.length > 0)">
		  		<header>
			        <fieldset>
	            	<legend>Click a State<small> To View Data</small>
	            	</legend>
	        		</fieldset>
        		</header>
		      <div class="body" ng-show="(getStations)">
		      		<p>Loading {{stateName}}</p>
		      		<img src="/img/loading.gif">
		      </div>
		 	</section>
		 	<section class="widget ui-sortable" ng-show="(stations.length > 0)">
		 		<div class="body tab-content" style="overflow:hidden;" ng-show="stations.length > 0">
		 			<div  class="tab-pane AVG_weight_time clearfix active">
			 			<select class="form-control" ng-model='active_TruckClass.value'>
		            		<option ng-repeat="class in truckClass" value='{{class}}'>{{class}}</option>
		            	</select>
		            </div>
		            <div  class="tab-pane Overweight_time clearfix">
		            	<div class="col-md-6 form-inline">
	            			<div class="form-group">
				            	<select class="form-control" ng-model="myTimePeriod" ng-options="item2.id as item2.label for item2 in timePeriod" style='width:75px;display:inline;margin-right:5px;'></select>
				            </div>
				        </div>
				        <div class="col-md-6 form-inline">
	            			<div class="form-group">
					        	<select class="form-control" ng-model="myOrder" ng-options="item3.id as item3.label for item3 in time_order" style='width:75px;display:inline;margin-right:5px;'></select>
					        </div>
				        </div>
				    </div>
				    <div  class="tab-pane Overweight_trucks clearfix">
				        <div class="col-md-6 form-inline">
	            			<div class="form-group">
					        	<select class="form-control" ng-model="myOrder" ng-options="item3.id as item3.label for item3 in time_order" style='width:75px;display:inline;margin-right:5px;'></select>
					        </div>
				        </div>
				    </div>
			      
		 		</div>
		 	</section>
		 	<section class="widget widget-tabs">
		 		<header ng-show="stations.length > 0">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href=".AVG_weight_time" data-toggle="tab">Average</a>
                    </li>
                    <li>
                        <a href=".Overweight_time" data-toggle="tab">Time</a>
                    </li>
                    <li>
                        <a href=".Overweight_trucks" data-toggle="tab">Overweight Trucks</a>
                    </li>
                                       
                </ul>
	            </header>
	            <div class="body tab-content" style="overflow:hidden;" ng-show="stations.length > 0">
			  		<div class="tab-pane AVG_weight_time clearfix active">
				  		<header>
					        <fieldset>
			            	<legend>AVG weight/time<small>  by station</small>
			            	</legend>
			        		</fieldset>
		        		</header>
					      <div id="weightByHour"></div>
					      <!-- <div id="stationInfo" style="position:absolute;background-color:#fff"></div> -->
			      	</div>
			      	<div  class="tab-pane Overweight_time clearfix">
			  			<header>
				        <fieldset>
		            	<legend>Overweight Trucks<small>  by station</small>
		            	</legend>
		        		</fieldset>
		        		</header>
			      
			     
				      <div id="overweightBarGraph"></div>
				      <!-- <div id="stationInfo" style="position:absolute;background-color:#fff"></div> -->
			      	</div>
					<div  class="tab-pane Overweight_trucks clearfix"> 	
				  		<header>
					        <fieldset>
			            	<legend>Overweight Trucks<small>  by station</small>

			            	</legend>
			        		</fieldset>
		        		</header>
			      
			     
				      <div id="overweightLineGraph" style="height: 450px;"></div>
				      <!-- <div id="stationInfo" style="position:absolute;background-color:#fff"></div> -->
			      </div>
			  	</div>
		 	</section>
		 	
		  </div>
		 <!--  <div class="col-md-12 form-inline">
		  	<section class="widget ui-sortable">
		  	<div class="body">
		     
			      <div id="voronoi-testing"></div>
			  </div>
		 	</section>
		  </div> -->
		</div>
	</div>
 	<div class="loader-wrap hiding hide">
        <i class="fa fa-spinner fa-spin"></i>
  </div>
</div>
<script src="/trafficanalytics/wimstates.js"></script>
<script src="/lib/AVAILmap.js"></script>
<script src="/trafficanalytics/wimstates2.js"></script>
<script src="/lib/avlmap.js"></script>
<script src="/lib/esc.js"></script>
<link rel="stylesheet" type="text/css" href="/css/avlmap.css">

<script src="/lib/colorbrewer.min.js"></script>
<script src="/trafficanalytics/aadtGraph.js"></script>
<script src="/trafficanalytics/truckWeightGraph.js"></script>
<script src="/trafficanalytics/lineChart.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/d3.geo.tile.v0.min.js"></script>
<script src="/pages/enforcement.js"></script>

