<%- partial('../partials/nav') %>
<div class="wrap sidebar-icons">
    <%- partial('../partials/header') %>
	<div class="content container">  
	  <div class="row" >
		  <div class="col-md-12">
		    <section class="widget">
		    	<!-- <header>
		    		<fieldset>
	            	<legend style="margin-bottom:0px;">HPMS Network<small></small></legend>
	        		</fieldset>
		    		<div class="widget-controls">
                        <a data-widgster="expand" title="" href="#" style="display: none;" data-original-title="Expand"><i class="glyphicon glyphicon-plus"></i></a>
                        <a data-widgster="collapse" title="" href="#" data-original-title="Collapse" style="display: inline;"><i class="glyphicon glyphicon-minus"></i></a>
                        <a data-widgster="fullscreen" title="" href="#" data-original-title="Full Screen" style="display: inline;"><i class="glyphicon glyphicon-resize-full"></i></a>
                        <a data-widgster="restore" title="" href="#" style="display: none;" data-original-title="Restore"><i class="glyphicon glyphicon-resize-small"></i></a>
                            
                    </div>
		    	</header> -->
			    <div class="body">
			      	<div id="hpms-menubar"></div>
					<div id="hpms-map"></div>
					<div id="hpms-interstates"></div>
					<div id="hpms-data"></div>
			    </div>
		    </section>
		  </div>
		</div>
	</div>
 	<div class="loader-wrap hiding hide">
        <i class="fa fa-spinner fa-spin"></i>
  </div>
</div>
<script src="http://d3js.org/d3.geo.tile.v0.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>

<!-- AVL libraries -->
<script src="/lib/avlmap.js"></script>
<script src="/lib/avlmenu.js"></script>
<script src="/lib/avlminimap.js"></script>

<!-- other libraries -->
<script src="/lib/esc.js"></script>
<script src="/lib/objects.js"></script>
<script src="/lib/input.js"></script>

<!-- HPMS modules -->
<script src="/js/hpms/hpms_map.js"></script>
<script src="/js/hpms/interstates_map_overlay.js"></script>
<script src="/js/hpms/hpms_interstates.js"></script>
<script src="/js/hpms/hpms_menu.js"></script>
<script src="/js/hpms/hpms_data.js"></script>
<script src="/js/hpms/myJS.js"></script>
<script src="/js/hpms/grapher.js"></script>
<script src="/js/hpms/data_object.js"></script>
<script src="/js/hpms/page_loader.js"></script>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/hpms/avlmap.css">
<link rel="stylesheet" type="text/css" href="/css/hpms/avlminimap.css">
<link rel="stylesheet" type="text/css" href="/css/hpms/avlmenu.css">
<link rel="stylesheet" type="text/css" href="/css/hpms/myCSS.css">